.cart-item {
  display: flex;
  border: 1px solid var(--color-grey-divider);
  border-radius: var(--radius-big);
  height: 180px;
  position: relative;
}

.cart-item__close-button {
  position: absolute;
  top: 28px;
  right: 24px;
  cursor: pointer;
}

.cart-item__image-wrapper {
  width: 200px;
  padding: 10px;
  border-right: 1px solid var(--color-grey-divider);
}
.cart-item__image {
  width: 100%;
  min-width: 180px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-item__data {
  padding: 32px;
}

.cart-item__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-txt-black);
}

.cart-item__price {
  margin-top: 32px;
  display: flex;
  align-items: baseline;
}

.cart-item__price-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 58px;
  border: 1px solid var(--color-grey-divider);
  border-radius: var(--radius-small);
  font-size: 20px;
  font-weight: 600;
}

.cart-item__price-counter-button-decr, .cart-item__price-counter-button-incr {
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-item__price-counter-button-decr {
  border-right: 1px solid var(--color-grey-divider);
  border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.cart-item__price-counter-button-incr {
  border-left: 1px solid var(--color-grey-divider);
  border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.cart-item__prices-area {
  display: flex;
  align-items: baseline;
}
.cart-item__price-final {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-txt-black);
  margin-left: 32px;
}

.cart-item__price-initial {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-txt-grey);
  text-decoration: line-through;
  margin-left: 16px;
}

@media (max-width: 1280px) {

  .cart-item {
    height: 160px;
  }
  .cart-item__image-wrapper {
    width: 180px;
  }

  .cart-item__image {
    min-width: 160px;
  }

  .cart-item__data {
    padding: 16px 24px;
  }

  .cart-item__close-button {
    top: 16px;
    right: 16px;
  }
  
}

@media (max-width: 1240px) {

  .cart-item__price-final {
    margin-left: 18px;
    font-size: 32px;
  }

  .cart-item__price-initial {
    margin-left: 8px;
    font-size: 18px;
  }

  .cart-item__title {
    font-size: 18px;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
  }
}

@media (max-width: 1160px) {

  .cart-item__image-wrapper {
    width: 140px;
  }

  .cart-item__image {
    min-width: 120px;
  }
  .cart-item__price-counter {
    font-size: 18px;
    width: 130px;
    height: 44px;
  }

  .cart-item__price-counter-button-decr, .cart-item__price-counter-button-incr {
    width: 44px;
  }
}

@media (max-width: 620px) {

  .cart-item__image-wrapper {
    width: 130px;
    padding: 8px;
  }

  .cart-item__close-button {
    top: 8px;
    right: 8px;
  }

  .cart-item__image {
    min-width: 114px;
  }

  .cart-item__data {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
  }

  .cart-item__title {
    padding-right: 24px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
  }

  .cart-item__price {
    margin-top: 14px;
    flex-direction: column;
  }

  .cart-item__price-final {
    font-size: 24px;
    margin-left: 0;
    margin-top: 8px;
  }

  .cart-item__prices-area {
    justify-content: flex-start;
  }
}