.cart-page-header {
  max-width: 1440px;
  margin: 244px auto 40px auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.cart-page-header__title {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-txt-black);
  padding-right: 32px;
}

.cart-page-header__line {
  width: calc(100% - 686px);
  border-bottom: 1px solid var(--color-grey-divider);
}

.cart-page-header__button {
  background-color: white;
  color: var(--color-txt-grey);
  padding: 8px 16px;
  border: none;
  border-radius: var(--radius-small);
  border: 1px solid var(--color-grey-divider);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}