<div class="cart-page__header">
  <h1 class="cart-page__header-title">Shopping cart</h1>
  <div class="cart-page__header-line"></div>
  <button class="cart-page__header-button" (click)="handleBackToStore()">Back to the store</button>
</div>
@if(cartStorageService.productInCartList.length){
  <main class="cart-page__content">
    <section class="cart-page__content-product-list">
    @for(cartProduct of cartStorageService.productInCartList; track $index) {
      <app-cart-item [cartProduct]="cartProduct"></app-cart-item>
    }
    </section>
    <section class="cart-page__order-summary">
      <h2 class="cart-page__order-summary-title">Order details</h2>
      <p class="cart-page__order-summary-items-number">{{cartStorageService.totalItemsCount}} items</p>
      <p class="cart-page__order-summary-items-total">Total <span class="cart-page__order-summary-total-sum">{{cartStorageService.orderTotal | currency}}</span></p>
      <form class="cart-page__order-summary-form">
        <input type="text" placeholder="Name" class="cart-page__order-summary-input">
        <input type="text" placeholder="Phone" class="cart-page__order-summary-input">
        <input type="text" placeholder="Email" class="cart-page__order-summary-input">
        <input type="submit" value="Order" class="cart-page__order-summary-button">
      </form>
    </section>
  </main>
} @else {
  <div class="cart-page__no-products">
    <h1 class="cart-page__no-products-title">Looks like you have no items in your basket currently</h1>
    <button class="cart-page__no-products-button" (click)="handleBackToStore()">Continue shopping</button>
  </div> 
  @if(loggerViewedService.productsInViewed > 0) {
      
    <h2 class="cart-page__viewed-title">...or perhaps you wish to return to products you have already viewed:</h2>
    <app-product-list [products]="loggerViewedService.viewedProductList"></app-product-list>

}

}