.product-list {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}

.product-list__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.product-list__title {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-txt-black);
  padding-right: 32px;
}

.product-list__header-line{
  width: calc(100% - 237px);
  border-bottom: 1px solid var(--color-grey-divider);
}

.product-list__button {
  width: 97px;
  height: 36px;
  border: 1px solid var(--color-grey-divider);
  background: none;
  border-radius: var(--radius-small);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-txt-grey);
}

.product-list__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin-top: 40px;
}

.product-list-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.product-list__pagination-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  color: var(--07-color-gray);
  cursor: pointer;
  margin: 0 4px;
}

.product-list__pagination-button_active {
  color: var(--color-green);
}

.product-list__pagination-button svg {
  margin-top: 3px;
}

@media (max-width: 1360px) {
  .product-list {
    padding: 0 20px;
  }
  .product-list__content {
    gap: 24px;
  }
}

@media (max-width: 1280px) {
  .product-list {
    padding: 0 40px;
  } 
  .product-list__content {
    gap: 24px;
  }
}

@media (max-width: 1110px) {
  .product-list {
    padding: 0 20px;
  }
  .product-list__content {
    gap: 16px;
  }
}

@media (max-width: 1000px) {

  .product-list__content {
    max-width: 670px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 960px) {
  .product-list {
    max-width: calc(100vW - 32px);
  }
 .product-list__title {
   font-size: 52px;
 }
}

@media (max-width: 800px) { 

 .product-list__header-line {
   width: calc(100% - 330px);
 }
}

@media (max-width: 640px) {
  .product-list__content {
    max-width: 330px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .product-list__title {
    font-size: 24px;
  }

  .product-list__button {
    width: 100px;
    height: 32px;
    font-size: 12px;
  }

  .product-list__header-line {
    width: calc(100% - 180px);
  }
}