.product-list {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}

.product-list__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.product-list__title {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-txt-black);
  padding-right: 32px;
}

.product-list__header-line{
  width: calc(100% - 237px);
  border-bottom: 1px solid var(--color-grey-divider);
}

.product-list__button {
  width: 97px;
  height: 36px;
  border: 1px solid var(--color-grey-divider);
  background: none;
  border-radius: var(--radius-small);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-txt-grey);
}

.product-list__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin-top: 40px;
}

.product-list-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1360px) {
  .product-list {
    padding: 0 20px;
  }
  .product-list__content {
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .product-list {
    padding: 0 40px;
  } 
  .product-list__content {
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .product-list {
    padding: 0 20px;
  }
  .product-list__content {
    gap: 16px;
  }
}

@media (max-width: 940px) {
  .product-list {
    max-width: 640px;
  }
  .product-list__content {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .product-list__content {
    max-width: 330px;
    grid-template-columns: repeat(1, 1fr);
  }
  
}