@if(favoritesStorageService.productsInFavorites.length > 0) {
  <h1 class="favorites-page__title">Your favorites</h1>
  <main class="favorites-page">
    <app-product-list [products]="favoritesStorageService.favoritesProductList"></app-product-list>
  </main>
 
} @else {
    <h1 class="favorites-page__title">You have not added any product to your favorites</h1>
    <button class="favorites-page__button" (click)="handleContinueShopping()">Continue shopping</button>
  @if(loggerViewedService.productsInViewed > 0) {
    <div class="favorites-page-viewed">
      <h2 class="favorites-page__viewed-title">...but you have viewed these products:</h2>
      <app-product-list [products]="loggerViewedService.viewedProductList"></app-product-list>
    </div>
  }
}