<section class="dialog-discount">
  <div class="dialog-discount__close-button" (click)="closeDialog()">
    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M33 11L11 33" stroke="white" stroke-width="3.66667" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11 11L33 33" stroke="white" stroke-width="3.66667" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
  </div>
  <h2 class="dialog-discount__title">Congratulations!</h2>
  <p class="dialog-discount__text">
    You successfully placed a request for 5% off on the first order!
  </p>
</section>
