.dialog-discount {
  position: relative;
  background-color: var(--color-green);
  color: white;
  width: 548px;
  padding: 32px;
  border-radius: var(--radius-big);
}

.dialog-discount__close-button {
  position: absolute;
  top: 32px;
  right: 24px;
  cursor: pointer;
}

.dialog-discount__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}

.dialog-discount__text {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 600px) {

  .dialog-discount {
    width: 90%;
    margin: auto;
  }

  .dialog-discount__close-button {
    top: 16px;
    right: 16px;   
  }
  .dialog-discount__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .dialog-discount__text {
    font-size: 16px;
  }
  
}