/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-txt-black: #282828;
  --color-green: #339933;
  --color-grey-divider: #DDDDDD;
  --color-txt-grey: #8B8B8B;
  --radius-big: 12px;
  --radius-small: 6px;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
